<div class="spaceBetween">
    <div>
        Icon
    </div>
    <div>
        <mat-icon>person</mat-icon>

    </div>
</div>

<link rel="stylesheet" >

<div class="navbar">
   
  <a href="#"> <fa-icon [icon]="faHome" [size]="size"></fa-icon><div> Home</div></a>
  <a href="#"><fa-icon [icon]="faCalendarDays" [size]="size"></fa-icon> <div>Schedule</div></a>
  <a routerLink="/membership"><fa-icon [icon]="faUser" [size]="size"></fa-icon> <div>membership</div></a>
  <a href="#"><fa-icon [icon]="faUsers" [size]="size"></fa-icon> <div>classes</div></a>
  <a href="#"> <fa-icon [icon]="faDumbbell" [size]="size"></fa-icon> <div>Trainer Profile</div></a>
  <a href="#"><fa-icon [icon]="faLeaf" [size]="size"></fa-icon> <div>Gallery</div></a>
  <a href="#"><fa-icon [icon]="faBlog" [size]="size"></fa-icon> <div>Arcticles/Blog</div></a>
  <a href="#"><fa-icon [icon]="faLocationDot" [size]="size"></fa-icon> <div>Contact/Location</div></a>
</div>


