.footer{
    background-color:  #AAC138;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    display: flex;
    justify-content:center
    
}

.icon{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}